---
import "../styles/vars.css"
import "../styles/global.css"
import "../styles/fonts.css"

import styles from "../styles/index.module.css"

import Calculator from "../components/Calculator/Calculator.svelte"
import Info from "../components/Info/Info.astro"
import Footer from "../components/Footer/Footer.astro"
import GitHubIcon from "../components/Icons/GitHub.svelte"

//  TODO: Proper title and description
const title = "Min-Max-Value Interpolation"
const description = ""
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
    <meta name="theme-color" content="#18004a" />
  </head>
  <body>
    <header class={styles.header}>
      <h1 class={styles.headline}>{title}</h1>
      <a
        href="https://github.com/9elements/min-max-calculator"
        class={styles.githubLink}
        target="_blank"
        rel="noopener noreferrer"
      >
        <GitHubIcon />
        View on GitHub
      </a>
    </header>

    <main>
      <Calculator client:load />
      <Info />
    </main>

    <Footer />
    <div class={styles.overlay} aria-hidden="true"></div>
    <div class={styles.bgBlur} aria-hidden="true"></div>
  </body>
</html>
