---
import "../styles/fonts.css"
import "../styles/global.css"
import "../styles/vars.css"

import styles from "../styles/index.module.css"

import Calculator from "../components/Calculator/Calculator.svelte"
import Examples from "../components/Examples/Examples.astro"
import Footer from "../components/Footer/Footer.astro"
import GitHubIcon from "../components/Icons/GitHub.svelte"
import Info from "../components/Info/Info.astro"

import metaImage from "../assets/img/social-share.png"
import faviconSVG from "../assets/img/favicon.svg"
import faviconPNG from "../assets/img/favicon.png"

const title = "Min-Max-Value Interpolation"
const description =
  "A tool that calculates the CSS clamp formula to interpolate between two values in a given viewport range."
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href={faviconSVG.src} type="image/png" sizes="any" />
    <link rel="icon" href={faviconPNG.src} type="image/svg+xml" />

    <title>Min-Max-Value Interpolation</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(metaImage.src, Astro.site)} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.site} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={metaImage} />
    <meta name="twitter:creator" content="@9elements" />
    <meta name="twitter:label1" value="Made with 💜" />
    <meta name="twitter:data1" value="by Milena, Nesim & Nils @ 9elements" />

    <meta name="theme-color" content="#18004a" />
  </head>
  <body>
    <header class={styles.header}>
      <h1 class={styles.headline}>{title}</h1>
      <a
        href="https://github.com/9elements/min-max-calculator"
        class={styles.githubLink}
        target="_blank"
        rel="noopener noreferrer"
      >
        <GitHubIcon />
        View on GitHub
      </a>
    </header>

    <main>
      <p class="sr-only">
        This is a tool that calculates the clamp formula needed to interpolate
        between a minimum value and a maximum value in a given viewport range.
        You can choose to use pixels or rems as a unit for the minimum and
        maximum values.
      </p>
      <Calculator client:load />
      <Info />
      <Examples />
    </main>

    <Footer />
    <div class={styles.bgBlur} aria-hidden="true"></div>
  </body>
</html>

<script>
  import "@zachleat/details-utils"
</script>
